/*




 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
*/

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
  --ciano:#33b5ac;
  --azul: #264294;
  --verde:#359e31;
}

body{
 /* background-image: url(https://wallpapercat.com/w/full/8/0/c/903152-3840x2160-desktop-4k-nami-league-of-legends-background.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;*/
}
div#ofuscar{
  /*background-color: rgba(0, 0, 0, 0.509);*/
  background-color: white;
  height: 100%;
}
header{
  background-color: rgba(255, 255, 255, 0.413);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  padding: 0 20px;

  border-bottom: 1px solid white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header > div#conta{
  background-color: rgb(56, 56, 56);
  width: 33px;

  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
}
header > div#conta span{
  margin: 5px;
  color: white;
  font-weight: bold;
}
header nav ul{
  display: flex;
  
}
header nav ul li{
  padding: 15px;
  height: 50px;
}
header nav ul li:hover a{
  border-bottom: 0.125em solid black;
}
header div#botaodelogin button{
  margin-right: 5px;
  padding: 5px 12px;

  border-radius: 20px;
}
header div#botaodelogin button#login{
  background-color: rgba(255, 255, 255, 0.395);
  border: 1px solid black;
  
}
header div#botaodelogin button#login:hover{
  background-color: black;
  color: white;
  transition: 0.2s;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.419);
}
header div#botaodelogin button#signup{
  display: none;
  background-color: var(--azul);
  color: white;
}
header div#botaodelogin button#signup:hover{
  background-color: #020307;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.469);
}

main{
  background-image: linear-gradient(to bottom, lightblue, rgb(230, 224, 173));
  height: 100%;
}
main section#apresentacao{
  

  padding: 0 0px;
  height: 100dvh;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
main section#apresentacao, section#projetos{
  padding: 0 50px;
}
main section#apresentacao div.esquerdo p#nome{
  line-height: unset;
  font-size: 40px;
  font-weight: bolder;
  
  padding: 10px 20px;

}
main section.secao{
  padding: 20px;
}
div.img{
  max-width: 100px;
}
div.img img{
  width: 100%;
}

main section#projetos{
  height: unset;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding-bottom: 30px;

}
main section#projetos h2{
  text-align: center;
  padding-bottom: 10px;
}
main section#projetos div.projeto-descricao{
  padding: 20px 0;
}
main section#projetos div.projetos div.imagem{
  max-width: 600px;
}
main section#projetos div.projetos img{
  width: 100%;
  border-radius: 20px;
}
main section#projetos h4.nome-do-projeto{
  display: block;
  margin-right: auto;
  padding: 10px 0;
}
main section#projetos p.descricao{
  line-height: 25px;  
}
main section#habilidades {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  height: unset;
}
main section#habilidades h2{
  padding-bottom: 10px;
}
main section#habilidades div.habilidades{
  background-color: white;
  width: 150px;
  height: 150px;

  margin-bottom: 20px;
  border-radius: 20px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
main section#habilidades div.habilidades img{
  width: 70px;
  padding-bottom: 20px;
}
aside#redes-sociais{
  background-color: rgb(212, 246, 212);
  display: block;
  height: 50px;

  position: fixed;
  right: 0;
  bottom: 0;
  
  padding: 5px;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
}
ul{
  text-align: right;
}
aside#redes-sociais li{
  display: inline-block;
  padding-left: 10px;
}
aside#redes-sociais ul li img{
  width: 40px;
}